<div class='row'>
<div class='span8 well'>
  <p>
    <em>"<%= comment.body %>"</em>
  </p>
  <p>
    <small><span class='quiet'>Posted by:</span> <%= comment.creator.username %> - <%= format_time(comment.created_at) %></small>
  </p>
</div>
</div>